/* .modal-backdrop {
  background-color: transparent !important;
} */
.modal-content {
  background-color: transparent !important;
  border: 0px !important;
  backdrop-filter: blur(10px);
}

.modal-header {
  /* background-color: rgba(0, 0, 0, 0.4) !important; */
  background-color: white;
  
}
