.Signup_owner{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.2rem;
    color: #755A58;
    background-image: url("https://svgshare.com/i/qtC.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 30vw;
    height: 80vh;
    transition: 0.3s;
}
.Signup_owner:hover{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.4rem;
    color: #755A58;
    background-image: url("https://svgshare.com/i/qtC.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 30vw;
    height: 80vh;
    scale: 1.05;
    transition: 0.3s;
}
.Signup_sitter{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.2rem;
    color: #755A58;
    background-image: url("https://svgshare.com/i/qtb.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 30vw;
    height: 80vh;
    transition: 0.3s;
}
.Signup_sitter:hover{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.4rem;
    color: #755A58;
    background-image: url("https://svgshare.com/i/qtb.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 30vw;
    height: 80vh;
    scale: 1.05;
    transition: 0.3s;
}

.Signup_container{
    margin: auto;
    width: fit-content;
}
.Container{
    background-image: url("https://svgshare.com/i/qvA.svg");
    background-repeat: no-repeat;
    background-size: cover;
}