.Signup_owner{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.2rem;
    color: #755A58;
    background-image: url("../../../Assets/signup_owner.svg");
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    background-color: transparent;
    width: 400px;
    height: 500px;
    transition: 0.3s;
}
.Signup_owner:hover{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.4rem;
    color: #755A58;
    background-image: url("../../../Assets/signup_owner.svg");
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    background-color: transparent;
    width: 400px;
    height: 500px;
    scale: 1.05;
    transition: 0.3s;
}
.Signup_sitter{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.2rem;
    color: #755A58;
    background-image: url("../../../Assets/signup_sitter.svg");
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    background-color: transparent;
    width: 400px;
    height: 500px;
    transition: 0.3s;
}
.Signup_sitter:hover{
    text-align: center;
    padding-bottom: 80%;
    font-size: 2.4rem;
    color: #755A58;
    background-image: url("../../../Assets/signup_sitter.svg");
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    background-color: transparent;
    width: 400px;
    height: 500px;
    scale: 1.05;
    transition: 0.3s;
}

.Signup_container{
    margin: auto;
    width: fit-content;
}
.Container{
    background-image: url("../../../Assets/signup_bkg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}